Martoryt Carhuachin/11-05-2022/AppDesktop/xml-resources/web-service-references/CuentaWS/wsdl/localhost_8080/zevallos/CuentaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="CuentaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/zevallos/CuentaWS?xsd=1" />
</xsd:schema>
</types>
<message name="editar">
<part name="parameters" element="tns:editar" />
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse" />
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar" />
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse" />
</message>
<message name="borrar">
<part name="parameters" element="tns:borrar" />
</message>
<message name="borrarResponse">
<part name="parameters" element="tns:borrarResponse" />
</message>
<message name="listar">
<part name="parameters" element="tns:listar" />
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse" />
</message>
<message name="registrar">
<part name="parameters" element="tns:registrar" />
</message>
<message name="registrarResponse">
<part name="parameters" element="tns:registrarResponse" />
</message>
<message name="Welcome">
<part name="parameters" element="tns:Welcome" />
</message>
<message name="WelcomeResponse">
<part name="parameters" element="tns:WelcomeResponse" />
</message>
<portType name="CuentaWS">
<operation name="editar">
<input wsam:Action="http://WS/CuentaWS/editarRequest" message="tns:editar" />
<output wsam:Action="http://WS/CuentaWS/editarResponse" message="tns:editarResponse" />
</operation>
<operation name="buscar">
<input wsam:Action="http://WS/CuentaWS/buscarRequest" message="tns:buscar" />
<output wsam:Action="http://WS/CuentaWS/buscarResponse" message="tns:buscarResponse" />
</operation>
<operation name="borrar">
<input wsam:Action="http://WS/CuentaWS/borrarRequest" message="tns:borrar" />
<output wsam:Action="http://WS/CuentaWS/borrarResponse" message="tns:borrarResponse" />
</operation>
<operation name="listar">
<input wsam:Action="http://WS/CuentaWS/listarRequest" message="tns:listar" />
<output wsam:Action="http://WS/CuentaWS/listarResponse" message="tns:listarResponse" />
</operation>
<operation name="registrar">
<input wsam:Action="http://WS/CuentaWS/registrarRequest" message="tns:registrar" />
<output wsam:Action="http://WS/CuentaWS/registrarResponse" message="tns:registrarResponse" />
</operation>
<operation name="Welcome">
<input wsam:Action="http://WS/CuentaWS/WelcomeRequest" message="tns:Welcome" />
<output wsam:Action="http://WS/CuentaWS/WelcomeResponse" message="tns:WelcomeResponse" />
</operation>
</portType>
<binding name="CuentaWSPortBinding" type="tns:CuentaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="editar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borrar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registrar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Welcome">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CuentaWS">
<port name="CuentaWSPort" binding="tns:CuentaWSPortBinding">
<soap:address location="http://localhost:8080/zevallos/CuentaWS" />
</port>
</service>
</definitions>